workload/dataset/*
workload/__pycache__/*
workload/temp.py
workload/log/chatbot/*original.csv
workload/log/chatbot/*original.png
workload/log/summarization/*original.csv
workload/log/summarization/*original.png
workload/log/translation/*original.csv
workload/log/translation/*original.png
trace_data/azure/*
trace_data/.DS_Store
log/syn/process.py
__pycache__/*
.vscode-server/*
.DS_Store